@import './base.css';


h1 {
  font-size: var(--h1-size);
  font-weight: 900;
}

h2 {
  font-size: var(--h2-size);
  font-weight: bold;
}

h3 {
  font-size: var(--h3-size);
  font-weight: bold;
}

h4 {
  font-size: var(--h4-size);
  font-weight: bold;
}

h5 {
  font-size: var(--h5-size);
  font-weight: bold;
}

p, a, ul {
  font-size: var(--text-size);
}

ul {
  padding-left: 1.5em;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--c-primary);
}

main>* {
  margin: auto;
}